/* Colours
   ========================================================================== */
:root{
--main-color: #9A1144;
--secondary-color: #A32655;
--accent-color: #FFC021;
--red-color: #F44336;
--green-color: #4CAF50;
--white-1-color: #FFF;
--white-2-color: #F6F6F6;
--grey-1-color: #eeeeee;
--grey-2-color: #E1E1E1;
--grey-3-color: #d4d4d4;
--grey-4-color: #c7c7c7;
--dark-1-color: #000;
--dark-2-color: #212121;
--dark-3-color: #373737;
}
/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: 'Open Sans', sans-serif;
}
body{
  color: var(--dark-2-color, #212121);
}
a{
  color: var(--main-color, #9A1144);
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: var(--grey-2-color, #E1E1E1);
  background-color: var(--main-color, #9A1144);
}
.sidebar:after{
    content: "";
    display: block;
    position: absolute;
    height: 125%;
    top: 15%; right: -40px; bottom: -40px; left: -40px;
    border: 80px solid rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    transform: rotate(-30deg);
    z-index: -1;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
  }
}

/* Sidebar links */
.sidebar a {
  color: var(--white-1-color, #fff);
}

/* About section */
.sidebar-about h1 {
  color: var(--white-1-color, #fff);
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 3.25rem;
}
.sidebar .lead{
  font-size: 1rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}
.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
  padding-top:    4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 38rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
  }
}


.post iframe{
    max-width: 100%;
}

.related{
  border: none;
}
/** share Button CSS **/

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 55px;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0px rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.reddit      { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
